<template>
	<div id="header">
		<a href="" @click.prevent="scroll(0)"><img src="../assets/logo.png" class="logo"></a>

		<ul v-bind:class="{ 'is-active': menuIsActive }">
			<li><a href="" @click.prevent="scroll(0)" class="is-active">Início</a></li>
			<li><a href="" @click.prevent="scroll(1)">Nossas Aulas</a></li>
			<li><a href="" @click.prevent="scroll(2)">Select</a></li>
		</ul>

		<a href="" class="hamburger" @click.prevent="toggleMenu()">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
</template>

<script>
export default {
	name: 'HeaderNav',
	data () {
		return {
			title: 'Esse é um componente padrão',
			menuIsActive: false
		}
	},
	created () {
		window.addEventListener('scroll', this.handleScroll)
	},
	methods: {
		scroll (i) {
			var headerHeight = document.getElementById('header').offsetHeight;
			this.$SmoothScroll(document.getElementsByTagName('section')[i].offsetTop - headerHeight, 500);
			this.menuIsActive = false;
		},
		handleScroll () {
			var sections = document.getElementsByClassName('section');
			var headerHeight = document.getElementById('header').offsetHeight;
		
			for (var index = 0; index < sections.length; index++) {
				var sectionElement = sections[index],
					menuItemElement = document.getElementById('header').getElementsByTagName('li')[index].getElementsByTagName('a')[0],
					menuLiElement = document.getElementById('header').getElementsByTagName('li'),
					n = menuLiElement.length;
				

				if (window.scrollY + window.innerHeight >= document.documentElement.scrollHeight) {
					document.getElementById('header').getElementsByTagName('li')[n - 2].getElementsByTagName('a')[0].className = '';
					document.getElementById('header').getElementsByTagName('li')[n - 1].getElementsByTagName('a')[0].className = 'is-active';

				} else if (window.scrollY >= sectionElement.offsetTop - 100 && window.scrollY < sectionElement.offsetTop + sectionElement.offsetHeight - 100) {
					menuItemElement.className = 'is-active';
				} else {
					menuItemElement.className = '';
				}

				if (window.scrollY >= sectionElement.offsetTop - window.innerHeight/2) {
					if (sectionElement.className.indexOf('is-active') < 0) {
						sectionElement.className += ' is-active';
					}
				}
			}
		},
		toggleMenu () {
			this.menuIsActive = !this.menuIsActive;
		}
	}
}
</script>

<style lang="stylus">
	$green = #41B883

	#header
		position fixed
		height 100px
		background white
		width 100%
		top 0
		left 0
		box-shadow 0 2px 20px rgba(40, 55, 77, .3)
		z-index 10
		.hamburger
			position absolute
			right 30px
			top 50%
			transform translateY(-50%)
			display none
			span
				width 30px
				height 4px
				background $blue
				display block
				margin 2px 0
		.logo
			width 50px
			position relative
			top 50%
			transform translateY(-50%)
			float left
			margin-left 50px
		ul
			float right
			margin 0
			position relative
			top 50%
			transform translateY(-50%)
			margin-right 50px
		li
			margin 0 10px
		a
			transition all 150ms ease
			border-bottom 2px solid transparent
			padding-bottom 4px
			color #28374D
			text-decoration none
			&:hover, &.is-active
				color $green!important
				border-bottom 2px solid


	@media (max-width 1000px)
		#header
			ul
				opacity 0
				visibility hidden
				background white
				width 100%
				margin 0
				position absolute
				top 100%
				transform none
				height 100vh
				border-top 1px solid #E9E9E9
				&.is-active
					opacity 1
					visibility visible
				li
					display block
					a
						display block
						text-transform uppercase
						font-weight bold
						border-bottom 1px solid #E9E9E9
						padding 20px
			.hamburger
				display block
</style>
