<template>
	<div class="default-component">
		<section-header></section-header>
		<section-welcome></section-welcome>
		<section-portfolio></section-portfolio>
		<section-about-simple-text></section-about-simple-text>
		<section-what-we-do></section-what-we-do>
		<section-clients></section-clients>
		<section-side-to-side></section-side-to-side>
		<section-select-tabs></section-select-tabs>
		<section-fast-site></section-fast-site>
		<section-contact></section-contact>
		<section-footer></section-footer>
		<section-copyright></section-copyright>
	</div>
</template>


<script>
import SectionHeader from '../components/HeaderNav.vue'
import SectionWelcome from '../components/SectionWelcome.vue'
import SectionSelectTabs from '../components/SectionSelectTabs.vue'
import SectionSideToSide from '../components/SectionSideToSide.vue'
import SectionPortfolio from '../components/SectionPortfolio.vue'
import SectionAboutSimpleText from '../components/SectionAboutSimpleText.vue'
import SectionWhatWeDo from '../components/SectionWhatWeDo.vue'
import SectionClients from '../components/SectionClients.vue'
import SectionFastSite from '../components/SectionFastSite.vue'
import SectionContact from '../components/SectionContact.vue'
import SectionFooter from '../components/SectionFooter.vue'
import SectionCopyright from '../components/SectionCopyright.vue'

export default {
	name: 'HomePage',
	components: {
		 SectionHeader,
		 SectionWelcome,
		 SectionSelectTabs,
		 SectionSideToSide,
		 SectionPortfolio,
		 SectionAboutSimpleText,
		 SectionWhatWeDo,
		 SectionClients,
		 SectionFastSite,
		 SectionContact,
		 SectionFooter,
		 SectionCopyright
	},
	data () {
		return {
			msg: 'Essa é a página inicial'
		}
	}
}
</script>

<style lang="stylus">
	section
		padding 50px 0
</style>
