<template>
	<footer class="footer">
		<div class="wrapper">
			<div class="row middle-md">
				<div class="col-md-4 left">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Portfólio</a></li>
						<li><a href="">O que fazemos</a></li>
					</ul>
				</div>
				<div class="col-md-4 mid">
					<a href="" class="logo"><img src="../assets/logo-letter.png"></a>
				</div>
				<div class="col-md-4 right">
					<ul>
						<li><a href="">Web</a></li>
						<li><a href="">Design</a></li>
						<li><a href="">Sites Rápidos</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'FooterComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão de Footer'
		}
	}
}
</script>

<style lang="stylus">
	.footer
		.logo
			max-width 100px
			display block
			margin 0 auto
			img
				width 100%
		.left
			text-align right
		.right
			text-align left
		ul
			li
				display block
				margin-bottom 15px
				&:last-child()
					margin-bottom 0
</style>
