<template>
	<section class="contact">
		<div class="row">
			<div class="col-md-5">
				<a href="" class="button">Nos diga olá</a>
				<span class="separator"></span>
				<p>Nos deixe uma mensagem e responderemos o mais breve possível.</p>
			</div>
			<div class="col-md-7">
				<h2>Fale conosco</h2>
				<span class="separator"></span>
				<p>Vamos juntos fazer com que suas ideias ganhem vida. Nós garantimos que você ficará contente com o resultado final. Tem alguma pergunta, feedback ou comentário? Não deixe de compartilhar conosco!</p>
				<div class="row">
					<div class="col-md-6">
						<i class="phone"></i>
						<p>(51) 9 8030-9355</p>
						<span>Seg-Sex: 10h - 19h</span>
					</div>
					<div class="col-md-6">
						<i class="email"></i>
						<p>nos@somosfriday.com.br</p>
						<span>Responderemos em até 24h</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'ContactComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão de contato'
		}
	}
}
</script>

<style lang="stylus">
	$red = #F5515F
	.contact
		a
			$color = $red
			$hoverColor = white
			border 1px solid $color
			color $color
			&:hover
				color $hoverColor
				background $color
</style>
