<template>
	<div class="copyright">
		<span>{{msg}}</span>
	</div>
</template>

<script>
export default {
	name: 'CopyrightComponent',
	data () {
		return {
			msg: '2017 - Friday CC. @ Todos os direitos reservados.'
		}
	}
}
</script>

<style lang="stylus">
	.copyright
		padding 30px 0
		span
			font-size 14px
</style>
