<template>
	<section id="what-we-do">
		<div class="row">
			<div class="col-md-3 item" v-for="item in items">
				<div class="content vertical-align">
					<span class="icon"></span>
					<div class="hover">
						<h1>{{item.title}}</h1>
						<p>{{item.resume}}</p>
						<a class="button" :href="item.link">Veja nosso trabalho</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'DefaultComponent',
	data () {
		return {
			msg: 'Essa é uma seção de portfólio',
			items: [
				{ title: 'Intel Project 1', resume: 'Texto de resumo do projeto aqui', link: 'http://google.com' },
				{ title: 'Intel Project 2', resume: 'Foo', link: 'http://google.com' },
				{ title: 'Intel Project 3', resume: 'Texto de resumo do projeto aqui', link: 'http://google.com' },
				{ title: 'Intel Project 4', resume: 'Foo', link: 'http://google.com' }
			]
		}
	}
}
</script>

<style lang="stylus">
	$red = #F5515F
	$blue = #108AD6

	#what-we-do
		background $red
		color white
		padding 0
		.item
			height 100vh
			padding 20px
			box-sizing border-box
			border-right 1px solid white
			position relative
			.content
				margin-top 0px
				transition 350ms all ease
			&:last-child
				border 0
			.icon
				display block
				width 100px
				height 80px
				background white
				margin 0 auto
				transition 450ms all ease				
			.hover
				opacity 0
				visibility hidden
				transition 450ms all ease
			&:hover
				.content
					margin-top -50px
				.hover
					opacity 1
					visibility visible
			a
				$color = white
				$hoverColor = $red
				border 1px solid $color
				color $color
				&:hover
					color $hoverColor
</style>
