<template>
	<section id="about">
		<div class="wrapper">
			<h1>{{msg}}</h1>
			<p>{{text}}</p>
		</div>
	</section>
</template>

<script>
export default {
	name: 'SectionAboutSimpleText',
	data () {
		return {
			msg: 'Esse é um componente de Sobre - Com texto padrão',
			text: 'Esse é um textinho que está aqui só pra exemplificar como deveria ser o texto certo. O ideal é ser um pouco grande, pra poder ocupar mais de 2 linhas. Assim, tendo uma visiblidade um pouco melhor.'
		}
	}
}
</script>

<style lang="stylus">
	#about
		h1
			font-size 32px
			font-weight 800
		p
			font-size 16px
			line-height 1.5
</style>
