<template>
	<section id="our-classes" class="section">
    <h1 class="title">Nossas Aulas</h1>
    <div class="classes">
        <div class="class-container circuito hideme faderight">
            <div class="left box-s">
                <div class="center-box">
                    <h4><span class="red">Aeróbico</span> / <span class="blue">Ganho de força</span></h4>
                    <h2>Circuito Funcional</h2>
                    <p>O Treinamento Funcional é uma técnica de treinamento físico que tem como base à utilização dos padrões fundamentais do movimento humano (empurrar, puxar, agachar, girar, lançar, dentre outros).</p>
                    <span class="time">Terças / Quintas</span>
                    <span class="time">19:00</span>
                </div>
            </div>
            <div class="right image-bg"></div>
        </div>
        <div class="class-container ritmos hideme fadeleft">
            <div class="left image-bg">
            </div>
            <div class="right box-s">
                <div class="center-box">
                    <h4><span class="red">Aeróbico</span></h4>
                    <h2>Rítmos</h2>
                    <p>É uma aula empolgante cujos resultados vão muito além do bem estar físico, proporcionando aos seus praticantes o contato com os mais variados estilos de movimento da dança.</p>
                    <span class="time">Terças / Quintas</span>
                    <span class="time">19:00</span>
                </div>
            </div>
        </div>
        <div class="class-container muay-thai hideme faderight">
            <div class="left box-s">
                <div class="center-box">
                    <h4><span class="red">Aeróbico</span> / <span class="purple">Disciplinar</span></h4>
                    <h2>Artes Marciais</h2>
                    <p>O boxe tailandês chegou ao Brasil no começo da década de 80 e as primeiras academias foram instaladas no Rio de Janeiro e em Curitiba. O esporte caiu no gosto dos brasileiros e hoje é praticado em todo o país, por homens e mulheres de todas as idades, como forma de defesa pessoal e aprimoramento físico.</p>
                    <span class="time">Terças / Quintas</span>
                    <span class="time">19:00</span>
                </div>
            </div>
            <div class="right image-bg"></div>
        </div>
    </div>
</section>

</template>

<script>
export default {
	name: 'SectionSideToSide',
	data () {
		return {
			title: 'Esse é um componente padrão'
		}
	}
}
</script>

<style lang="stylus">
#our-classes
    overflow-x hidden
    .class-container
        display flex
        margin 0 auto
        max-width 1270px
        flex-wrap wrap
        .center-box
            width 80%
            margin 0 auto
            text-align center
        i
            display inline-block
            width 40px
            height 40px
            background green
            position relative
            margin-bottom 30px
            &:after, &:before
                content ''
                width 80px
                display block
                background $green
                height 1px
                position absolute
                top 50%
                transform translateY(-50%)
            &:after
                right -100px
            &:before
                left -100px
        h4
            font-size 14px
            text-transform uppercase
            color $green
        h2
            font-size 36px
            text-transform uppercase
            display block
            margin 5px 0 10px
            font-family $proximaBold
        p
            font-size 14px
            line-height 1.5
            margin-bottom 20px
        .time
            display block
            font-size 16px
            color $green
            text-transform uppercase
            font-family $proximaSemiBold
            line-height 1.4
    .left, .right
        position relative
        width 630px
        height 620px
        margin-bottom 10px
        &.box-s
            background white
            box-shadow $main-shadow
    .left
        margin-right 10px
    .image-bg
        background-size cover
    .circuito
        i
            background url('http://placehold.it/1280x1280') center no-repeat
        .image-bg
            background url('http://placehold.it/1280x1280') center no-repeat
    .ritmos
        i
            background url('http://placehold.it/1280x1280') center no-repeat
        .image-bg
            background url('http://placehold.it/1280x1280') center no-repeat
    .muay-thai
        i
            background url('http://placehold.it/1280x1280') center no-repeat
        .image-bg
            background url('http://placehold.it/1280x1280') center no-repeat


// REPONSIVE
@media screen and (max-width: 1275px)
	#our-classes
		.left, .right
			margin 0 auto 20px
		.image-bg
			height 300px
		.circuito
			.image-bg
				background-position 0px -70px
		.ritmos
			.image-bg
				background-position 0 -230px
		.muay-thai
			.image-bg
				background-position 0px -30px
@media screen and (max-width: 420px)
    #our-classes
        .left, .right
            height 400px
            padding 20px 0
        .image-bg
            display none
        .class-container
            .time
                font-size 14px
            p
                text-align justify
            i
                margin-top 10px
                margin-bottom 15px
            h2
                font-size 21px
            h4
                font-size 12px
</style>
