<template>
	<header id="header" class="header">
		<div class="row end-md middle-md">
			<div class="col-md-2">
				<a href="" @click.prevent="scroll(0)" class="minimal-logo">logo</a>
			</div>
			<div class="col-md-10">
				<ul class="nav">
					<li><a href="" @click.prevent="scroll(1)">Portfólio</a></li>
					<li><a href="" @click.prevent="scroll(3)">O que fazemos</a></li>
					<li><a href="" @click.prevent="scroll(4)">Sites Rápidos</a></li>
					<li><a href="" @click.prevent="scroll(5)">Contato</a></li>
				</ul>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HeaderComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão de header'
		}
	},
	methods: {
		scroll (i) {
			var headerHeight = document.getElementById('header').offsetHeight;
			this.$SmoothScroll(document.getElementsByTagName('section')[i].offsetTop - headerHeight, 500);
			this.menuIsActive = false;
		}
	}
}
</script>

<style lang="stylus">
	header
		position fixed
		top 0
		left 0
		width 100%
		z-index 10
		background transparent
		transition 250ms all ease
		padding 20px 0
		.nav
			margin-right 20px
		&.active
			background white
</style>
