<template>
	<div class="clients">
		<div class="row">
			<div class="col-md-2" v-for="client in clients"><img :src="client.logo" alt=""></div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ClientsComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão de clientes',
			clients: [
				{name: 'Smart', logo: 'http://placehold.it/80x80'},
				{name: 'Via Corpo', logo: 'http://placehold.it/80x80'},
				{name: 'Senai', logo: 'http://placehold.it/80x80'},
				{name: 'Homni', logo: 'http://placehold.it/80x80'},
				{name: 'Friday', logo: 'http://placehold.it/80x80'},
				{name: 'Nuvem', logo: 'http://placehold.it/80x80'}
			]
		}
	}
}
</script>

<style lang="stylus">
	.clients
		padding 60px 0
		box-shadow 0 2px 20px rgba(40,55,77,0.1)
</style>
