<template>
	<section id="welcome" class="welcome section">
		<div class="center">
			<a href="" class="logo"><img src="../assets/logo-letter.png"></a>
			<h1>{{title}}</h1>
			<p>{{text}}</p>
		</div>
		<a href="" class="cta" @click.prevent="scroll(1)">
			<span class="icon">
				<span></span>
			</span>

			<span>Conheça</span>
		</a>
	</section>
</template>

<script>
export default {
	name: 'SectionWelcome',
	data () {
		return {
			title: 'Welcome Section',
			text: 'Textinho simples, só mesmo pra termos algum bloco de texto no boiler plate. Bom mesmo seria termos duas linhas, então o ideal é aumentar um pouco o tamanho dele, assim quem sabe, dependendo do tamanho definido, ficará com mais de uma linha.'
		}
	},
	methods: {
		scroll (i) {
			var headerHeight = document.getElementById('header').offsetHeight;
			this.$SmoothScroll(document.getElementsByTagName('section')[i].offsetTop - headerHeight, 500);
			this.menuIsActive = false;
		}
	}
}
</script>

<style lang="stylus">
#welcome
	background url('../assets/welcome-bg.jpg') no-repeat center
	background-size cover
	height 100vh
	position relative
	padding 0
	.logo
		img
			max-width 110px
	.center
		width 100%
		text-align center
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		h1
			color #222
			font-weight bold
			font-size 24px
		p
			color #222
			font-size 16px
			max-width 650px
			margin 0 auto
	.cta
			display: block;
			bottom: 40px;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			z-index: 3;
			text-align: center;
			text-transform: uppercase;
			color: #222;
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: bold;
			text-decoration none
		@keyframes mouse
			0%, to
				transform:translate(-50%,0);
				transform:translate(-50%,0);
			50%
				transform:translate(-50%,4px);
				transform:translate(-50%,4px);
		.icon
			width: 30px;
			height: 46px;
			border: 3px solid #222;
			border-radius: 15px;
			box-sizing: border-box;
			z-index: 3;
			display: block;
			margin: auto;
			position: relative;
			margin-bottom: 5px;
			span
				animation: mouse 500ms infinite;
				display: block;
				position: absolute;
				left: 50%;
				width: 3px;
				height: 8px;
				border-radius: 2px;
				background: #222;
				top: 8px;
				transform: translateX(-50%);
</style>
