<template>
	<section class="portfolio-section">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
				<div class="vertical-align">
					oi
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
				<div class="vertical-align">
					oi
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
				<div class="vertical-align">
					oi
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
				<div class="vertical-align">
					oi
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
				<div class="vertical-align">
					oi
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
				<div class="vertical-align">
					oi
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'PortfolioSection',
	data () {
		return {
			msg: 'Essa é a section de Portfólio'
		}
	}
}
</script>

<style lang="stylus">
	.portfolio-section
		padding 0
	.portfolio-item
		height 33vw
		background url('http://placehold.it/1280x1280') center no-repeat
		background-size cover
		box-sizing border-box
		border 2px solid white
</style>
