<template>
	<section class="fast-site">
		<div class="row middle-md">
			<div class="col-md-6 left side">
				<div class="vertical-align">
					<h2>Title</h2>
					<p>Texto de descrição</p>
					<a href="" class="button">Call to Action</a>
				</div>
			</div>
			<div class="col-md-6 right side">
				<div class="image">
					<a href=""><img src="http://placehold.it/500x500"></a>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'FastSiteComponent',
	data () {
		return {
			msg: 'Esse é um componente padrão Sites Rápidos'
		}
	}
}
</script>

<style lang="stylus">
	.fast-site
		.left
			position relative
			height 600px
			background #eee
		.button
			$color = #333
			border-color $color
			color $color
			&:hover
				color $color
</style>
