<template>
	<section class="examples section">
		<h2>Exemplos</h2>

		<select @change="changeItem($event)">
			<option v-for="(example, index) in examples" v-bind:value="index">{{ example.title }}</option>
		</select>

		<h3 v-for="(example, index) in examples" v-if="selectedExample == index">{{ example.description }}</h3>

		<div class="carousel">
			<div class="carousel__container">
				<div class="carousel__item" v-bind:class="{ 'is-active': selectedExample == 0 }">
					<img src="../assets/example-1.jpg">
				</div>
				<div class="carousel__item" v-bind:class="{ 'is-active': selectedExample == 1 }">
					<img src="../assets/example-2.jpg">
				</div>
				<div class="carousel__item" v-bind:class="{ 'is-active': selectedExample == 2 }">
					<img src="../assets/example-3.jpg">
				</div>
				<div class="carousel__item" v-bind:class="{ 'is-active': selectedExample == 3 }">
					<img src="../assets/example-4.jpg">
				</div>
				<div class="carousel__item" v-bind:class="{ 'is-active': selectedExample == 4 }">
					<img src="../assets/example-5.jpg">
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'SectionSelectTabs',
	data () {
		return {
			title: 'Esse é um componente padrão',
			selectedExample: 0,
			examples: [
				{
					title: 'Call Center',
					description: 'Monitoramento de Experiência do Usuário',
				}, {
					title: 'Logística',
					description: 'Monitoramento de Processos de Negócios (nível de atividade de filiais)',
				}, {
					title: 'Administradora de Planos de Saúde',
					description: 'Navegação por Servidores Diferentes',
				}, {
					title: 'Administradora de Planos de Saúde',
					description: 'Navegação por Servidores Diferentes',
				}, {
					title: 'Serviços de TI',
					description: 'Monitoramento de Integração (conciliação) - ERP x Frente de Loja',
				}
			]
		}
	},
	methods: {
		changeItem (event) {
			this.selectedExample = parseInt(event.target.value);
		}
	}
}
</script>

<style lang="stylus">
	$light-grey = #ccc
	$blue = blue
	.examples
		h3
			font-size 24px
			font-weight 300
			&:before
				content ''
				display block
				width 70px
				height 4px
				background $light-grey
				margin 30px auto
		select
			-webkit-appearance none
			outline none
			border-radius 0
			border 1px solid #E9E9E9
			padding 20px 80px 20px 20px
			font-size 16px
			background url(../assets/select.png) right -1px center no-repeat white
			background-size 60px
			box-shadow 0 10px 20px rgba(171,171,171,.17)
			cursor pointer
			transition all 150ms ease
			&:hover
				border-color $blue
		.carousel
			white-space nowrap
			padding 60px 0
			width 100%
			overflow hidden
		.carousel__container
			position relative
		.carousel__item
			box-shadow 0 10px 20px rgba(171,171,171,.17)
			border 1px solid #E9E9E9
			box-sizing border-box
			padding 20px
			display none
			img
				max-width 100%
			&.is-active, &.is-prev, &.is-next
				display inline-block
			&.is-prev
				position absolute
				left 0
				margin-left -800px
			&.is-next
				position absolute
				right 0
				margin-right -800px
</style>
