<template>
  <section class="under-construction">
    <div class="center-box">
      <img src="../assets/logo-letter.png">
      <a class="email" href="mailto:nos@somosfriday.com.br">nos@somosfriday.com.br</a>
      <a class="facebook" href="http://facebook.com/somosfriday">facebook.com/somosfriday</a>
      <a class="phone" href="tel:+51980309355">(51) 9 8030-9355</a>
    </div>
  </section>
</template>

<script>
export default {
  name: 'UnderConstruction',
  data () {
    return {
      msg: 'Site em construção'
    }
  }
}
</script>

<style lang="stylus">
	$red = #F5515F
	$darkRed = #9F031B
	$blue = #108AD6
	$darkBlue = #003292
	$yellow = #E7B544
	$darkYellow = #FF7B33

	.under-construction
		position relative
		width 100%
		height 100vh
		background url('../assets/under-construction-bg.jpg') no-repeat center
		background-size cover
		.center-box
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			font-size 18px
		a
			display block
			text-decoration none
			cursor pointer
			margin-bottom 5px
			transition 250ms all ease
			&:hover
				&.email
					color $red
				&.facebook
					color $blue
				&.phone
					color $darkYellow
		p
			color $darkYellow
			margin 0
		img
			max-width 150px
			margin-bottom 20px
</style>
