<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      text: 'oi, testando'
    }
  }
}
</script>

<style lang="stylus">


$red = #F5515F
$green = #41B883
$blue = #108AD6
$yellow = #E7B544
$lightGrey = #404040
$darkGrey = #0C0B11

body, .row
  margin 0
.title
  font-weight 800
  font-size 36px
  text-transform uppercase
  margin-bottom 40px
#app 
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50

h1, h2 
  font-weight normal


ul 
  list-style-type none
  padding 0


li 
  display inline-block
  margin 0 10px


a 
  color $darkGrey
  text-decoration none
  &.button
      color white
      border 1px solid white
      padding 15px 25px
      border-radius 30px
      margin 20px auto 0
      display block
      width 180px
      text-decoration none
      cursor pointer
      transition 350ms all ease
      &:hover
        background white
        color $red

.wrapper
  width 960px
  margin 0 auto
  position relative

.vertical-align
  position relative
  top 50%
  transform translateY(-50%)
.center-box
	position absolute
	left 50%
	top 50%
	transform translateY(-50%) translateX(-50%)

// RESPONSIVE

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px)
      body
        margin 0



    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px)
      body
        margin 0
      .wrapper
        width 90%



    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px)
      body
        margin 0
      #header .nav ul.nav li
        margin 0



    /* Medium Small Devices, Phones */ 
    @media only screen and (max-width : 480px)
      body
        margin 0



    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px)
      body
        margin 0



    /* Minimum Devices, iPhones */ 
    @media only screen and (max-width : 320px)
      body
        margin 0
        

</style>
